/******************************
*                             *
*      Normal Screen          *
*                             * 
*******************************/

    /*****************
    *                *
    *     Miscs      *
    *                *
    ******************/

body
{
  background-color: #fec85f;
}

    /*****************
    *                *
    *     Header     *
    *                *
    ******************/

#navBar
{
  background-color: #64491aed;
  padding: 5px;
}

#logo
{
  width: 25px;
  display: inline;
  margin-left: 45%;
  margin-bottom: -3px;
}

#navTitle
{
  color: white;
  display: inline;
  margin-left: 20px;
  font-size: 3.5vh;
}

    /*****************
    *                *
    *     Title      *
    *                *
    ******************/


#subTitle
{
  color: white;
  margin-left: 27%;
  margin-top: -80px;
}

#titleContainer
{
  margin-top: -40px;
  margin-bottom: -455px;
}

/* Credit goes to code pen for css*/
$size: 20px;

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	font-weight: normal;
	width: 100%;
	text-align: center;
	font-family: 'Bungee Shade', cursive;
	font-size: 10vw;
	background: linear-gradient(
		-45deg, 
		#64491aed 25%, 
		#feac5e 25%, 
		#feac5e 50%, 
		#64491aed 50%, 
		#64491aed 75%, 
		#feac5e 75%, 
		#feac5e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: $size $size;
	background-position: 0 0;
	animation: stripes 1s linear infinite;
}	

@keyframes stripes {
	100% { 
		background-position: $size 0, $size 0, $size 0;
	}
}


    /*****************
    *                *
    *     Footer     *
    *                *
    ******************/

footer
{
  position: relative;
  margin-top: 650px;
  margin-left: 40%;
  clear: both;
  
}

#gFooter
{
  margin-top: -550px;
}

#authFooter
{
  margin-top: -350px;
  margin-left: 50px;
}



    /*****************
    *                *
    *     Buttons    *
    *                *
    ******************/

#authBtnContainer
{
  margin-top: 598px;
  margin-left: 42%;
  margin-bottom: 50px;;
}

#nUser
{
  width: 150px;
  height: 75px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #64491aed;
  border: black 2px solid;
  color: white;
  padding: 20px;
  text-decoration: none;
}

#eUser
{
  width: 150px;
  height: 75px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #64491aed;
  border: black 2px solid;
  color: white;
  padding: 20px;
  text-decoration: none;
}

#cBtn
{
  margin-left: 65px;
}


#toReg
{
  border: #feac5e  2px solid;
  color: white;
  text-decoration: none;
  background-color: #feac5e ;
  border-radius: 5px;
  margin-top: 3px;
}

#chooseBox
{
  margin-top: 494px;
  margin-left: 45%;
  margin-bottom: -272px;
}

#myAffirm
{
  border: 2px #64491aed solid;
  background-color: #64491aed;
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 10px;
}


  /*******************
    *                *
    *    Forms       *
    *                *
    ******************/

#loginForm
{
  margin-top: 480px;
  color: white;
  margin-left: 39%;
  text-align: center;
  border: 2px black solid;
  border-radius: 20px;
  width: 300px;
  padding: 30px;
  margin-bottom: -475px;
  font-size: 2.5vh;
  background-color: #64491aed;
  -webkit-box-shadow: 10px 10px 11px 5px rgba(0,0,0,0.56);
  -moz-box-shadow: 10px 10px 11px 5px rgba(0,0,0,0.56);
  box-shadow: 10px 10px 11px 5px rgba(0,0,0,0.56);
}

#lBtn
{
  color: white;
  border: 2px solid #feac5e;
  font-size: 10px;
  background-color: #feac5e;
  margin-right: 5px;
  text-decoration: none;
  padding: 5px;
}

#b
{
  margin-top: 380px;
  margin-bottom: -520px;
}

#actionBtn
{
  
  float: left;
  margin-left: 45%;
  margin-bottom: 580px;
  z-index: 999;
}

.imgBtn
{
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

#cForm
{
  margin-top: 420px;
  margin-left: 45%;
}
#textBox
{
  width: 350px;
  height: 150px;
}

#regForm
{
  margin-top: 480px;
  color: white;
  margin-left: 40%;
  text-align: center;
  border: 2px black solid;
  border-radius: 20px;
  width: 300px;
  padding: 30px;
  margin-bottom: -575px;
  font-size: 2.5vh;
  background-color: #64491aed;
  -webkit-box-shadow: 10px 10px 11px 5px rgba(0,0,0,0.56);
  -moz-box-shadow: 10px 10px 11px 5px rgba(0,0,0,0.56);
  box-shadow: 10px 10px 11px 5px rgba(0,0,0,0.56);
}


    /***************************
    *                         *
    *     Show Categories     *
    *                         *
    ***************************/

    #categoryBox
    {
      margin-top: 352px;
      margin-left: 22%;
      text-align: center;
    }

    .boxes
    {
      display: inline;
      float: left;
      margin-right: 50px;
    }

    .boxes img:hover
    {
      width: 200px;
      height: 100px;
      
    }

    .boxes p 
    {
      color: white;
      text-decoration: underline;
    }

    .categoryImgs
    {
      width: 100px;
      height: 60px;
      border-radius: 5px;
    }

    /***************************
    *                         *
    *    My Affirmation       *
    *                         *
    ***************************/
#aTitle
{
  color: white;
  margin-top: 515px;
  margin-left: 45%;
}

#myTitle
{
  margin-bottom: -225px;
}

#back
{
  margin-top: 350px;
  margin-left: 20px;
  color: white;
  border: 2px solid #64491aed;
  background-color: #64491aed;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
}

#own
{
  margin-top: 390px;
  margin-left: 20px;
  color: white;
  border: 2px solid #64491aed;
  background-color: #64491aed;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
}

#listBox
{
  margin-left: 33%;
  border: 2px solid #64491aed;
  background-color: #64491aed;
  width: 400px;
  text-align: center;
  padding: 35px;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.eachALink
{
  text-decoration: none;
  color: white;
}

   /***************************
    *                         *
    *     General Category    *
    *                         *
    ***************************/

#generalImg
{
  width: 320px;
  height: 150px;
  margin-top: 385px;
  margin-left: 40%;
}

#gTitle
{
  margin-top: 490px;
  margin-left: 47%;
  margin-bottom: -369px;
  color: white;
}
#affirmations
{
  margin-left: 37%;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  border: 2px solid #64491aed;
  background-color: #64491aed;
  color: white;
  border-radius: 10px;
  width: 400px;
  height: 50px;
}

#gFooter
{
  margin-top: 1250px;
}


  /****************************
    *                         *
    *         Edit            *
    *                         *
    ***************************/

#eBack
{
  margin-top: 350px;
  margin-left: 20px;
  color: white;
  border: 2px solid #64491aed;
  background-color: #64491aed;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
}
#eForm
{
  margin-top: 8px;
  margin-left: 37%;
  margin-bottom: -480px;
}

#eForm textarea
{
  border: 2px solid #64491aed;
  background-color: #64491aed;
  text-align: center;
  color: white;
  border-radius: 10px;
  
}

#eSave
{
  margin-left: 12%;
  width: 80px;
  height: 40px;
  color: white;
  border: 2px solid #64491aed;
  background-color: #64491aed;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
}

#eDelete
{
  margin-left: 2%;
  width: 80px;
  height: 40px;
  color: white;
  border: 2px solid #64491aed;
  background-color: #64491aed;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
}

    /**************************
    *                         *
    *         Create          *
    *                         *
    ***************************/

    #cBack
    {
      margin-top: 350px;
      margin-left: 20px;
      color: white;
      border: 2px solid #64491aed;
      background-color: #64491aed;
      padding: 15px;
      border-radius: 10px;
      text-decoration: none;
    }

    #cTitle
    {

    }

    #cForm
    {
      margin-top: 8px;
      margin-left: 37%;
      margin-bottom: -480px;
    }
    
    #cForm textarea
    {
      border: 2px solid #64491aed;
      background-color: #64491aed;
      text-align: center;
      color: white;
      border-radius: 10px;
      
    }
    
    #cCreate
    {
      margin-left: 12%;
      width: 80px;
      height: 40px;
      color: white;
      border: 2px solid #64491aed;
      background-color: #64491aed;
      padding: 15px;
      border-radius: 10px;
      text-decoration: none;
      margin-bottom: -50px;
    }





/******************************
*                             *
*      Mobile Screen          *
*                             * 
*******************************/

/******************************
*                             *
*      Tablet Screen          *
*                             * 
*******************************/

/******************************
*                             *
*   Large Desktop Screen      *
*                             * 
*******************************/

